{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="card mt-2 rounded-2 shadow-sm">
    <div class="card-header">
        <h5>Карточка: № {{ card.id }}</h5>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>Дата и время заявки</label>
            </div>
            <div class="col-10 col-sm-10">
                {{ card.card.created_at | date:"d.m.y H:i" }}
            </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                {% if is_individual %}
                <label>ФИО абонента</label>
            </div>
            <div class="col-10 col-sm-10">
                {{ card.last_name }} {{ card.first_name }} {{ card.patronymic_name }}
                {% else %}
                <label>Наименование организации</label>
            </div>
            <div class="col-10 col-sm-10">
                {{ card.company_name }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>Контактный номер</label>
            </div>
            <div class="col-10 col-sm-10">
             {{ card.card.phone_number }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>Адрес</label>
            </div>
            <div class="col-10 col-sm-10">
               {{ card.card.street }}, д. {{ card.card.bldg }} - {{ card.card.apt_num }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Этаж
                </label>
            </div>
            <div class="col-10 col-sm-10">
                {{ card.card.floor }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Площадь
                </label>
            </div>
            <div class="col-10 col-sm-10">
                {{ card.card.square }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Точка подключения
                </label>
            </div>
            <div class="col-10 col-sm-10">
                {{ card.card.connection_point }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Мощность
                </label>
            </div>
            <div class="col-10 col-sm-10">
                {{ card.card.power }}
            </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Номинал
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.nominal }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Основной ПУ
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.main_point }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Номер счётчика
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.counter_number }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Тип счётчика
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.counter_model }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Дата и номер договора
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.contract }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Энергосберегающая организация
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.organization }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    ФИО оператора
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.operator }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Примечание
                </label>
            </div>
            <div class="col-10 col-sm-10">
                 {{card.card.comment }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-2 col-sm-2 card-label-col">
                <label>
                    Приложенные документы
                </label>
            </div>
            <div class="col-10 col-sm-10">
            {% if card.card.file %}
                <a href="{{ card.card.file.url }}" target="_blank">{{ card.card.file.name }}</a><br>
            {% else %}
                Нет загруженных файлов
            {% endif %}
            </div>
        </div>
    </div>
    <hr/>
    <div class="d-flex justify-content-center">
        <div class="mb-3">
            <button class="btn btn-success">ОПЕРАТОР</button>&nbsp;&nbsp;
            <button class="btn btn-warning">ВЕДУЩИЙ ИНЖЕНЕР</button>&nbsp;&nbsp;
            <button class="btn btn-secondary">НАЧАЛЬНИК ОТДЕЛА</button>&nbsp;&nbsp;
            <button class="btn btn-secondary">НАЧАЛЬНИК СЛУЖБЫ</button>&nbsp;&nbsp;
            <button class="btn btn-secondary">НАЧАЛЬНИК СКПЭ</button>&nbsp;&nbsp;
            <button class="btn btn-secondary">ОПЕРАТОР</button>&nbsp;&nbsp;
            <button class="btn btn-secondary">КОНТРОЛЛЕР</button>
        </div>
    </div>

</div>
<style type="text/css">
.card-label-col {color: black;}
</style>
{% endblock content %}