{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="card mt-2 mb-3 rounded-2 shadow-sm" style="display: block">
    <div class="card-header">
        <h5>Карточка: № {{ card.id }}</h5>
    </div>
<div style="float: left; width: 50%">
    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>Дата и время заявки</label>
            </div>
            <div class="col-9 col-sm-9">
                {{ card.received_at | date:"d.m.y H:i" }}
            </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                {% if card.legal_entity.company_name %}
                <label>Наименование организации</label>
            </div>
            <div class="col-9 col-sm-9">
                {{ card.legal_entity.company_name }}
                {% else %}
                <label>ФИО абонента</label>
            </div>
            <div class="col-9 col-sm-9">
                {{ card.individual_entity.last_name }} {{ card.individual_entity.first_name }} {{ card.individual_entity.patronymic_name }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>Контактный номер</label>
            </div>
            <div class="col-9 col-sm-9">
             {{ card.phone_number }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>Адрес</label>
            </div>
            <div class="col-9 col-sm-9">
               {{ card.street }}, д. {{ card.bldg }} - {{ card.apt_num }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Этаж
                </label>
            </div>
            <div class="col-9 col-sm-9">
                {{ card.floor }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Площадь
                </label>
            </div>
            <div class="col-9 col-sm-9">
                {{ card.square }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Точка подключения
                </label>
            </div>
            <div class="col-9 col-sm-9">
                {{ card.connection_point }}
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Мощность
                </label>
            </div>
            <div class="col-9 col-sm-9">
                {{ card.power }}
            </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Номинал
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.nominal }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Основной ПУ
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.main_point }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Номер счётчика
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.counter_number }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Тип счётчика
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.counter_model }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Дата и номер договора
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.contract }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Энергосберегающая организация
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.organization }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    ФИО оператора
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.operator }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Примечание
                </label>
            </div>
            <div class="col-9 col-sm-9">
                 {{ card.comment }}
             </div>
        </div>
    </div>

    <div class="card-body p-2">
        <div class="row">
            <div class="col-3 col-sm-3 card-label-col">
                <label>
                    Приложенные документы
                </label>
            </div>
            <div class="col-9 col-sm-9">
            {% if card.file %}
                <a href="{{ card.file.url }}" target="_blank">{{ card.file.name }}</a><br>
                {% if card.page_number_on_which_the_act_begins is not None %}
                  <p>Акт начинается со страницы {{ card.page_number_on_which_the_act_begins }}.</p>
                {% else %}
                <form method="post" action="{{ merge_url }}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="new_file">Прикрепить акт:</label>
                    <input type="file" id="new_file" name="pdf_file" accept=".pdf">
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </form>
                {% endif %}
            {% else %}
                Нет загруженных файлов
            {% endif %}
            </div>
        </div>
    </div>

</div>
{% if card.file %}
<div style="float: left; width: 50%">
    <div id="pdfcontainer" style="background-color: white; position: relative;">
      <iframe  src="{{ card.file.url }}" style="width:100%; height: 800px;" frameborder="0"></iframe>
    </div>
</div>
{% endif %}
    <hr style="clear: both"/>
    <div class="d-flex justify-content-center w-100">
        <div class="mb-3">
            {% for button, title in position_buttons.items %}
                <button class="btn
                    {% if button in approvals %}
                      btn-success
                    {% else %}
                      btn-secondary
                    {% endif %}
                ">{{ title }}</button>&nbsp;&nbsp;
            {% endfor %}
        </div>
    </div>

</div>
<style type="text/css">
.card-label-col {color: black;}
</style>
{% endblock content %}