{% extends 'html/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="mt-3 p-3 border-2 border-dark shadow rounded-3">
    <h3>Карточка абонента</h3>
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
  <form method="POST" href="{% url 'new_card_legal_entity' %}" enctype="multipart/form-data">
    <div class="form-group">
        {% csrf_token %}

    <table class="table table-borderless">

    <tbody>
        <tr>
            <td>
                    <label class="card_label" for="nominal">Дата заявки</label><br/>
                        {% render_field form.nominal|append_attr:"size:5" type="date" %}
                    {% for error in form.nominal.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
            </td>
            <td>
                    <label class="card_label" for="nominal">Время заявки</label><br/>
                    {% render_field form.nominal|append_attr:"size:5" type="time" %}
                    {% for error in form.nominal.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
            </td>
            <td colspan="2">
                <label class="card_label" for="last_name">TOO</label><br/>
                {% render_field form_legal_entity.company_name|append_attr:"size:30" type="text" %}
            </td>

        </tr>

        <tr>
            <td colspan="1">
                <label class="card_label" for="iin">БИН</label><br/>
                {% render_field form.iin|append_attr:"size:30" type="text" %}
            </td>

            <td colspan="1">
                <label class="card_label" for="task">Задание</label><br/>
                {% render_field form.task %}
            </td>
            <td colspan="1">
                <label class="card_label" for="object_category">Категория объекта</label><br/>
                {% render_field form.object_category %}
            </td>
        </tr>


        <tr>
           <td colspan="1">
                <label class="card_label" for="city">Город</label><br/>
                {% render_field form.city|append_attr:"size:20" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="district">Район</label><br/>
                {% render_field form.district|append_attr:"size:20" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="street">Улица</label><br/>
                {% render_field form.street|append_attr:"size:20" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="bldg">Дом</label><br/>
                {% render_field form.bldg|append_attr:"size:4" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="block">Блок</label><br/>
                {% render_field form.block|append_attr:"size:4" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="apt_num">Кв</label><br/>
                {% render_field form.apt_num|append_attr:"size:4" type="text" %}
            </td>
        </tr>




        <tr>
            <td colspan="1">
                <label class="card_label" for="floor">Этаж</label><br/>
                {% render_field form.floor|append_attr:"size:4" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="entrance">Подъезд</label><br/>
                {% render_field form.entrance|append_attr:"size:4" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="square">Площадь</label><br/>
                {% render_field form.square|append_attr:"size:4" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="connection_point">Точка подключения</label><br/>
                {% render_field form.connection_point|append_attr:"size:15" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="power">Мощность</label><br/>
                {% render_field form.power|append_attr:"size:5" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="nominal">Номинал автомата</label><br/>
                {% render_field form.nominal|append_attr:"size:15" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="main_point">Головной ПУ</label><br/>
                {% render_field form.main_point|append_attr:"size:10" type="text" %}
            </td>
            <td colspan="1">
                <label class="card_label" for="counter_number">Номер счетчика</label><br/>
                {% render_field form.counter_number|append_attr:"size:10" type="text" %}
            </td>
        </tr>




        <tr>
            <td >
                <label class="card_label" for="counter_model">Тип счетчика</label><br/>
                {% render_field form.counter_model|append_attr:"size:30" type="text" %}
            </td>
            <td >
                <label class="card_label" for="contract">Дата договора</label><br/>
                {% render_field form.contract|append_attr:"size:30" type="text" %}
            </td>

            <td >
                <label class="card_label" for="organization">Энергосберегающая организация</label><br/>
                {% render_field form.organization|append_attr:"size:30" type="text" %}
            </td>

            <td colspan="3">
                <label class="card_label" for="operator">ФИО оператора</label><br/>
                {% render_field form.operator|append_attr:"size:30" type="text" %}
            </td>

        </tr>



    <tr>
         <td colspan="1">
            <label class="card_label" for=" phone_number">Номер телефона</label><br/>
            {% render_field form.phone_number|append_attr:"size:30" type="text" %}
         </td>

        <td colspan="10">
            <label class="card_label" for="comment">Примечание</label><br/>
                {% render_field form.comment|append_attr:"size:155" type="text" %}
            {% for error in form.nominal.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
        </td>
    </tr>

    </tbody>
    </table>

    </div>
    <div class="form-group">
    {% for scan_attach in doc_types %}
    <div class="card rounded-3" style="width: 150px; margin-top: 1%">
            <div class="row">
                <div class="col-sm-12">
                    <label for="{{ scan_attach.name }}" class="text-center pt-1 filebox">
                        <input type="file" name="{{ scan_attach.name }}" id="{{ scan_attach.name }}" style="display:none;"/>
                        <img class="" src="{% static 'img/proposals.png' %}" alt="Файл"/><br/>
                        <b>{{ scan_attach.label }}</b>
                    </label>
                </div>
            </div>
    </div>

    {% endfor %}

    <br clear="all"/>

      <button type="submit" class="btn btn-primary mt-2" style="width: 57%">
        СОЗДАТЬ И НАПРАВИТЬ В УПОЛНОМОЧЕННОЕ ПОДРАЗДЕЛЕНИЕ
      </button>
<!--      <a href="{% url 'index' %}" class="btn btn-secondary mt-2">Отменить</a>-->
    </div>

  </form>
    <center>
        <hr/>
        <button class="btn btn-success">ОПЕРАТОР</button>&nbsp;&nbsp;
        <button class="btn btn-secondary">ВЕДУЩИЙ ИНЖЕНЕР</button>&nbsp;&nbsp;
        <button class="btn btn-secondary">НАЧАЛЬНИК ОТДЕЛА</button>&nbsp;&nbsp;
        <button class="btn btn-secondary">НАЧАЛЬНИК СЛУЖБЫ</button>&nbsp;&nbsp;
        <button class="btn btn-secondary">НАЧАЛЬНИК СКПЭ</button>&nbsp;&nbsp;
        <button class="btn btn-secondary">ОПЕРАТОР</button>&nbsp;&nbsp;
        <button class="btn btn-secondary">КОНТРОЛЛЕР</button>&nbsp;
    </center>
</div>
<style>
.card_label {
  color: #3590DC;
  font-size: 14pt;
  text-weight: bold;
}
.form-group input, textarea {
border-color: #efefef;
border-radius: 7px;
border-width: 1px;
font-size: 16pt;
}
.card {
margin: 1% 1% 1% 0%;
float: left;
}
.filebox:hover {
cursor: pointer;
}
</style>
{% endblock content %}
