{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>

<body>


{% block mainmenu %}
<header>
    <div class="" id="navbarToggleExternalContent">
  <div class="bg-dark" style="background-color: #1f3c88;">
    <div class="header" id="header">
        <div class="hor-menu">
            <a href="{% url 'index' %}" class="hor-menu-link">Главная</a>
        </div>

        <div class="dropdown hor-menu">
            <a href="#" class="dropdown-toggle hor-menu-link" role="button" id="dropdownMenuLink_new" data-bs-toggle="dropdown" aria-expanded="false">Добавить заявку</a>
            <ul class="dropdown-menu rounded-0 p-0" aria-labelledby="dropdownMenuLink_new">
                <li><a href="{% url 'new_card_individual' %}" class="dropdown-item hor-menu-link">Физического лица</a></li>
                <li><a href="{% url 'new_card_legal_entity' %}" class="dropdown-item hor-menu-link">Юридического лица</a></li>
            </ul>
        </div>

        <div class="dropdown hor-menu">
            <a href="#" class="dropdown-toggle hor-menu-link" role="button" id="dropdownMenuLink_list" data-bs-toggle="dropdown" aria-expanded="false">Журнал заявок</a>
            <ul class="dropdown-menu rounded-0 p-0" aria-labelledby="dropdownMenuLink_new">
                <li><a href="{% url 'card_list' entity='individual' %}" class="dropdown-item hor-menu-link">Физических лиц</a></li>
                <li><a href="{% url 'card_list' entity='legal' %}" class="dropdown-item hor-menu-link">Юридических лиц</a></li>
            </ul>
        </div>

        <div class="hor-menu">
            <a href="{% url 'card_registry' %}" class="hor-menu-link">На согласование</a>
        </div>

        <div class="hor-menu">
            <a href="{% url 'card_archive' %}" class="hor-menu-link">Архив</a>
        </div>

        <div class="hor-menu" style="float: right; margin-right: 10px">
            {% if request.user.is_authenticated %}
            <a href="#" class="dropdown-toggle hor-menu-link" role="button" id="dropdownMenuLink_list" data-bs-toggle="dropdown" aria-expanded="false"><img class="vert-menu" src="{% static 'img/profile.png' %}" alt="">&nbsp; {{ request.user.username }}</a>
            <ul class="dropdown-menu rounded-0 p-0" aria-labelledby="dropdownMenuLink_new">
                <li><a href="{% url 'users:profile' %}" class="dropdown-item hor-menu-link">Профиль</a></li>
                <li><a href="{% url 'users:logout' %}" class="dropdown-item hor-menu-link">Выйти</a></li>
            </ul>
            {% else %}
            <a href="{% url 'users:login' %}" class="hor-menu-link"><img class="vert-menu" style="width: 25px" src="{% static 'img/profile.png' %}" alt="">&nbsp; Вход</a>
            {% endif %}
        </div>
    </div>
  </div>
</div>

</header>

{% endblock mainmenu %}

{% include "html/message.html" %}

<main class="inner d-flex justify-content-center" >

<div id="content">
{% block content %}

{% endblock content %}
</div>
</main>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Страница отсутствует</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        Данная страница пока не создана для текущей версии портала
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>


